/* Admin */
.formFields {
  text-align: left; }

 textarea {
	width: 400px;
	height: 200px;
}

input[type=text],input[type=url] {
	width: 500px !important;
	max-width: 500px !important;
}

.ask {
	display: none;
}

.database-content-facets {
	display: none;
}

.pagingContainer {
	display: none;
}