<style>
.sticky-header {
	display: none;
}
#main-container {
    margin: 0;
}
#main-container > div.wrap > div > span > h2:nth-child(1) {
	margin-top: 20px;
}

.hphelp {
	display: block;
	padding: 0 0 20px 0;
}
.hphelp p {
	text-align: left;
	line-height: 120%;
}
@media screen and (min-width: 768px) {
	.hphelp {
		display: none;
	}
}

</style>
