#headerImageMap	#headerLibaryHome {
	text-decoration: none;}
	
#footer {
	height: 75px;}

#type-b #mainDiv #content #rightScroll textarea, input {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;}
	
/* Sidebar Items */
#left a {
	font-size: 80%;}
	
#left table {
	padding-top: 10px;}
	
#left td.itemTitle {
	padding-left: 10px;
	text-align: right;}
	
#left td.itemDescription {
	text-align: left;}

#submitButton {
	text-align: center;}

#view b,
#upload b,
#rename b,
#delete b {
	color: red;}
